# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/out/

# Jangan abaikan folder induk .next, tapi abaikan isinya dulu
/.next/*

# KECUALI folder hasil build produksi (ini yang wajib masuk ke server)
!/.next/standalone/
!/.next/static/

# TETAP abaikan cache (ini yang bikin berat dan gak perlu di server)
/.next/cache/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
